@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assignment 1 - Harry Potter Books</h1>
    <h1 class="display-4">Jilliane Vina A01039469 </h1>
    <h1 class="display-4">Yashsvi Girdhar A01084035</h1>
</div>
